.booking_calendar {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-color: #141228;
  text-align: center;
  border-top: 1px solid #d6006c;
  font-size: 12px;
  font-family: 'Times New Roman', serif;
}
.booking_calendar .cal_width {
  width: 400px;
  margin: 0 auto;
}
@media (min-width: 310px) and (max-width: 380px) {
  .booking_calendar .cal_width {
    width: 280px;
  }
}
@media (min-width: 380px) and (max-width: 550px) {
  .booking_calendar .cal_width {
    width: 320px;
  }
}
.booking_calendar > .calendar_content {
  background: #d3d2ca;
  background: -moz-linear-gradient(left, #d3d2ca 0%, #ffffff 11%, #ffffff 89%, #d3d2ca 100%);
  background: -webkit-linear-gradient(left, #d3d2ca 0%, #ffffff 11%, #ffffff 89%, #d3d2ca 100%);
  background: linear-gradient(to right, #d3d2ca 0%, #ffffff 11%, #ffffff 89%, #d3d2ca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d2ca', endColorstr='#d3d2ca', GradientType=1);
  height: 100%;
}
.booking_calendar .title {
  color: #fff;
  margin-bottom: 1em;
  margin-top: 2em;
  position: relative;
}
.booking_calendar .title:after {
  width: 100%;
  height: 0;
  display: block;
  content: "";
  clear: both;
}
.booking_calendar .title > div {
  float: left;
  width: 50%;
  box-sizing: border-box;
  background-color: #b39659;
  padding: 0.2em;
  border-radius: 3px;
  position: relative;
  font-size: 1.3em;
  line-height: 1;
}
.booking_calendar .title > div > span {
  position: absolute;
  top: -1.4em;
  font-size: 0.8em;
}
.booking_calendar .title .title_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-image: url(../images/bookiconX2-01.png);
  background-position: center;
  background-size: 100% auto;
}
.booking_calendar .title .title_l {
  text-align: left;
}
.booking_calendar .title .title_l span {
  left: 0px;
}
.booking_calendar .title .title_r {
  text-align: right;
}
.booking_calendar .title .title_r span {
  right: 0px;
}
.booking_calendar .calendar th,
.booking_calendar .calendar td {
  text-align: center;
  font-size: 1.3em;
  padding: 0;
}
.booking_calendar .calendar th span,
.booking_calendar .calendar td span {
  padding: 5px 0px;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 310px) and (max-width: 380px) {
  .booking_calendar .calendar th span,
  .booking_calendar .calendar td span {
    padding: 1px 0px;
  }
}
@media (min-width: 380px) and (max-width: 550px) {
  .booking_calendar .calendar th span,
  .booking_calendar .calendar td span {
    padding: 3px 0px;
  }
}
.booking_calendar .calendar table {
  width: 100%;
}
.booking_calendar .week {
  font-size: 1.3em;
  box-shadow: 0px 6px 11px #d3d2ca;
  position: relative;
  margin-bottom: 10px;
}
.booking_calendar .month {
  font-size: 1.2em;
  background-color: #b39659;
  color: #fff;
}
.booking_calendar .month > div {
  position: relative;
}
.booking_calendar .month .but {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  background-color: #141228;
  background-image: url(../images/spriteicon-01.svg);
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.22);
  padding: 0 3px;
}
.booking_calendar .month .next {
  right: 0.7em;
  background-position: -36px -114px;
}
.booking_calendar .month .back {
  left: 0.7em;
  background-position: -18px -114px;
}
.booking_calendar table th:first-child,
.booking_calendar table td:first-child,
.booking_calendar table th:last-child,
.booking_calendar table td:last-child {
  color: #d6006c;
}
.booking_calendar .book_but > button {
  width: 9em;
  margin: 8px auto;
  display: block;
  padding: 8px;
  border-radius: 3px;
  background-color: #d6006c;
  color: #fff;
}
.booking_calendar .book_but > button + button {
  background-color: #666;
}
.booking_calendar .book_day {
  background-color: #e9e8e4;
  border-radius: 3px ;
}
.booking_calendar .check_in,
.booking_calendar .check_out {
  background-color: #d6006c;
  color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}
.booking_calendar .check_in {
  border-left: 2px solid #141228;
  border-radius: 6px 2px 2px 6px;
}
.booking_calendar .check_in:after {
  position: absolute;
  display: block;
  right: -1px;
  top: 50%;
  margin-top: -0.7em;
  margin-right: -1em;
  content: "";
  width: 1px;
  height: 1px;
  border: 0.7em solid transparent;
  border-left: 0.5em solid #d6006c;
}
.booking_calendar .check_out {
  border-right: 2px solid #141228;
  border-radius: 2px 6px 6px 2px;
}
.booking_calendar .check_out:after {
  position: absolute;
  display: block;
  left: -1px;
  top: 50%;
  margin-top: -0.7em;
  margin-left: -1em;
  content: "";
  width: 1px;
  height: 1px;
  border: 0.7em solid transparent;
  border-right: 0.5em solid #d6006c;
}
