.banner_home {
  padding-top: 85px;
  background: #0d0c34;
  background: -webkit-linear-gradient(top, #0d0c34 85px, #0d0c34 5px, #ffffff 48%);
  background: linear-gradient(to bottom, #0d0c34 85px, #0d0c34 5px, #ffffff 48%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0c34', endColorstr='#ffffff', GradientType=0);
}
@media (min-width: 310px) and (max-width: 380px) {
  .banner_home {
    padding-top: 80px;
  }
}
@media (min-width: 380px) and (max-width: 550px) {
  .banner_home {
    padding-top: 85px;
  }
}
.banner_home img {
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.3);
}
.banner_home .banner_m {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
.banner_home .banner_s {
  overflow: hidden;
  margin: 0 5px;
  padding-bottom: 10px;
}
.banner_home .banner_s li {
  float: left;
  box-sizing: border-box;
  width: 49.5%;
  margin: 0 1%;
  margin-left: 0;
}
.banner_home .banner_s li + li {
  margin-right: 0;
}
.home_menu {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
  padding-bottom: 10px;
}
.home_menu li {
  float: left;
  width: 25%;
  text-align: center;
  border-radius: 10px;
}
.home_menu li img {
  box-sizing: border-box;
  padding: 12px;
  padding-bottom: 0;
}
.home_menu li:hover {
  background-color: #d2d1c9;
}
.home_menu li:hover a {
  color: #fff;
}
section .more {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 22px;
  height: 22px;
  padding: 3px;
  background-image: url(../images/spriteicon-01.svg);
  background-repeat: no-repeat;
  background-position: -5px -82px;
}
section .more:hover {
  border-radius: 3px;
  background-color: rgba(228, 228, 228, 0.42);
}
section .more a {
  display: block;
  width: 100%;
  height: 100%;
}
.parisian_video {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 5px;
  padding-bottom: 5px;
  text-align: justify;
  color: #fff;
  background-color: #3867b3;
}
.parisian_video li:nth-child(1),
.parisian_video li:nth-child(2),
.parisian_video li:nth-child(3),
.parisian_video li:nth-child(4) {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 48%;
  height: auto;
  margin-bottom: 1em;
  padding: 0;
  text-align: center;
  background-color: transparent;
}
.parisian_video li:nth-child(1) .video_data,
.parisian_video li:nth-child(2) .video_data,
.parisian_video li:nth-child(3) .video_data,
.parisian_video li:nth-child(4) .video_data,
.parisian_video li:nth-child(1) .video_length,
.parisian_video li:nth-child(2) .video_length,
.parisian_video li:nth-child(3) .video_length,
.parisian_video li:nth-child(4) .video_length {
  line-height: 1;
  position: absolute;
  z-index: 2;
  padding: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.49);
}
.parisian_video li:nth-child(1) h5,
.parisian_video li:nth-child(2) h5,
.parisian_video li:nth-child(3) h5,
.parisian_video li:nth-child(4) h5 {
  line-height: 1.2;
  display: block;
  overflow: auto;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  text-overflow: clip;
}
.parisian_video li:nth-child(1) h5:before,
.parisian_video li:nth-child(2) h5:before,
.parisian_video li:nth-child(3) h5:before,
.parisian_video li:nth-child(4) h5:before {
  display: none;
}
.parisian_video li:nth-child(1) .video_img,
.parisian_video li:nth-child(2) .video_img,
.parisian_video li:nth-child(3) .video_img,
.parisian_video li:nth-child(4) .video_img {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 7px 8px rgba(17, 17, 17, 0.3);
}
.parisian_video li:nth-child(1) .video_img:before,
.parisian_video li:nth-child(2) .video_img:before,
.parisian_video li:nth-child(3) .video_img:before,
.parisian_video li:nth-child(4) .video_img:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 51px;
  height: 39px;
  margin-top: -19.5px;
  margin-left: -25.5px;
  content: '';
  opacity: .5;
  background-image: url(../images/spriteicon-01.svg);
  background-repeat: no-repeat;
  background-position: -91px 0;
}
.parisian_video li:nth-child(1) .video_data,
.parisian_video li:nth-child(2) .video_data,
.parisian_video li:nth-child(3) .video_data,
.parisian_video li:nth-child(4) .video_data {
  top: 5px;
  left: 5px;
}
.parisian_video li:nth-child(1) .video_length,
.parisian_video li:nth-child(2) .video_length,
.parisian_video li:nth-child(3) .video_length,
.parisian_video li:nth-child(4) .video_length {
  top: 5px;
  right: 5px;
}
.parisian_video li:nth-child(1),
.parisian_video li:nth-child(3) {
  margin-right: 4%;
}
.parisian_video .video_play {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.parisian_video .video_play video {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 52px;
}
.parisian_video .close {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(72, 72, 72, 0.49);
  background-image: url(../images/spriteicon-01.svg);
  background-repeat: no-repeat;
  background-position: -2px -2px;
}
.parisian_video a {
  color: #fff;
}
.parisian_video li .video_img {
  display: none;
}
.parisian_video h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 0;
  border: 0;
  border-bottom: 1px ;
  -webkit-border-image: url(../images/border_dotted.png) 2 repeat;
       -o-border-image: url(../images/border_dotted.png) 2 repeat;
          border-image: url(../images/border_dotted.png) 2 repeat;
}
.parisian_video li {
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 2.2em;
  margin-bottom: 2px;
  padding: 4px;
  border-radius: 2px;
  background-color: #577fbf;
}
.parisian_video li .video_data {
  float: left;
  margin-right: 2px;
  opacity: .5;
}
.parisian_video li .video_length {
  float: right;
  opacity: .5;
}
.parisian_video li .video_length:before {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 1px;
  margin-bottom: -0.1em;
  content: '';
  background-image: url(../images/spriteicon-01.svg);
  background-repeat: no-repeat;
  background-position: -4px -119px;
}
.parisian_video li h5 {
  display: inline-block;
  overflow: hidden;
  width: 75%;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.parisian_video li h5:before {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 4px;
  margin-bottom: -0.3em;
  content: '';
  background-image: url(../images/spriteicon-01.svg);
  background-repeat: no-repeat;
  background-position: 0 -135px;
}
.parisian_video .video_play {
  display: none;
}
.traffic_guide a {
  color: #fff;
}
.traffic_guide > div {
  position: relative;
  margin: 10px 5px;
  text-align: right;
  color: #fff;
  border-radius: 4px;
  background-color: #d6006c;
  box-shadow: 0 7px 8px rgba(17, 17, 17, 0.3);
}
.traffic_guide img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 3em;
  margin-top: -1.5em;
}
.traffic_guide h5 {
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 2.4em;
  width: 2em;
  margin: 0;
  margin-top: -1em;
}
.traffic_guide p {
  margin: 0;
  padding: 10px 3px;
  padding-left: 22%;
  height: 1.6em;
  text-align: justify;
}
@media (min-width: 310px) and (max-width: 380px) {
  .traffic_guide p {
    padding: 5px 3px;
    padding-left: 22%;
  }
}
@media (min-width: 380px) and (max-width: 550px) {
  .traffic_guide p {
    padding: 10px 3px;
    padding-left: 22%;
  }
}
.traffic_guide p:after {
  display: inline-block;
  width: 100%;
  height: 0;
  content: '';
}
.traffic_guide p a {
  padding: 2px;
  border-radius: 2px;
  background-color: #ad0059;
}
.traffic_guide .limousine {
  padding: 5px;
  color: #d6006c;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 7px 8px rgba(17, 17, 17, 0.3);
}
.hotel_content h3,
.hotel_content h4,
.hotel_content p {
  margin-bottom: 2px;
  padding: 0 10px;
}
.hotel_content .content_header {
  position: relative;
  border-bottom: 2px solid #141228;
}
.hotel_content .content_header:after {
  position: absolute;
  right: 0;
  bottom: -2px;
  display: block;
  width: 100px;
  height: 2px;
  content: '';
  background-color: #d6006c;
}
.hotel_content .content_header p {
  opacity: .7;
}
.hotel_content .content_header .more {
  background-position: -43px -82px;
}
.hotel_content .content_box {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.hotel_content .content_box img {
  width: 100%;
}
.hotel_content .content_box div {
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2.5px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}
.hotel_content .content_box div a {
  color: #fff;
}
@media (min-width: 310px) and (max-width: 380px) {
  .hotel_content .content_box div p {
    display: none;
  }
}
.hotel_content .content_section {
  overflow: hidden;
}
.hotel_content .content_l {
  float: left;
  max-height: 300px;
  width: 60%;
  height: 242px;
  border-right: 1px solid #fff;
}
@media (min-width: 310px) and (max-width: 380px) {
  .hotel_content .content_l {
    height: 136px;
  }
}
@media (min-width: 380px) and (max-width: 550px) {
  .hotel_content .content_l {
    height: 168px;
  }
}
.hotel_content .content_r {
  float: right;
  width: 40%;
  max-height: 300px;
}
.hotel_content .content_r .content_box {
  height: 50%;
}
.hotel_content .content_r .content_box:first-child {
  border-bottom: 1px solid #fff;
}
